{% extends "base.html.twig" %}

{% block content %}
	<div class="project-header">
		<h2 class="project-title">Agathe Verasdonck - Aventure culture</h2>
		<h1 class="project-main-title">Un jeu vidéo pour apprendre</h1>
		<a href="{{ path("app_project_play_aventure_culture") }}" class="project-link" target="_blank">Jouer au jeu</a>
	</div>

	<div class="image-zoom">
		<img src="{{ asset("build/images/projets/aventure-culture/paul_le_flem_accueil_aventure_culture.png") }}" alt="Mockup du portfolio de Agathe Verasdonck" class="header-mockup">
	</div>

	<div class="container mt-100">
		<div class="text-block">
			<div class="title">
				<h2>LE CLIENT</h2>
			</div>
			<div class="content">
				<p>Agathe Verasdonck est actuellement en dernière année de Bachelor Création Numérique. Dans le cadre de ces études, il lui à été demandé de présenter 4 de ces mentors. Après reflexion sur le sujet, elle à décidé de les présenter sous forme d'un petit jeu vidéo, baptisé l'aventure culture.</p>
			</div>
		</div>
		<div class="text-block">
			<div class="title">
				<h2>CAHIER DES CHARGES</h2>
			</div>
			<div class="content">
				<p>Agathe m'as transmis une maquette représentant les différents éléments du jeu, et m'a présenté le fonctionnement souhaité. Le principe est le suivant : au lancement du jeu, des dialogues apparaisent au fur et a mesure, introduisant le jeu. Suite à ces dialogues, le joueur à la possibilité de choisir entre trois Agathe différentes en guise de personnage. Un menu est ensuite affiché, proposant de choisir le niveau souhaité (un seul est actuellement disponible). Le jeu peut alors démarrer ! Sur la carte on retrouve les quatre mentors, chacun proposant au joueur de répondre à un quizz sur sa vie.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="collab">
			<div class="left">
				<img src="{{ asset("build/images/projets/portfolio-agathe/profil_paul_le_flem.png") }}" alt="Mon portrait">
			</div>
			<div class="desc">
				LA COLLAB
				<br>
				PAUL LE FLEM X
				<span class="yellow">AGATHE VERASDONCK</span>
			</div>
			<div class="right">
				<img src="{{ asset("build/images/profil_agathe_verasdonck.png") }}" alt="Portrait de Agathe Verasdonck">
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row skills">
			<div class="col-md-4">
				<h3>Technologies utilisées</h3>
				<ul>
					<li>HTML</li>
					<li>Javascript</li>
					<li>Css</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Rôle</h3>
				<ul>
					<li>Conception technique</li>
					<li>Développement</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>Conditions de travail</h3>
				<ul>
					<li>Travail seul</li>
					<li>Réalisé à partir d'une maquette</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="text-block">
			<div class="title">
				<h2>Conception du jeu</h2>
			</div>
			<div class="content">
				<p>J'ai vu la réalisation de ce jeu comme un challenge. N'étant absolument pas développeur de jeu vidéo, j'ai décidé de le concevoir en Javascript, ayant déjà eu l'occasion de réaliser quelques petits jeux pendant mon temps libre. Je n'ai utilisé aucun framework ou librairie, souhaitant garder la base de code simple. J'ai utilisé une balise HTML
					<code>Canvas</code>, qui me sert de "tableau", où je viens afficher les éléments du jeu.</p>
			</div>
		</div>

		<div class="text-block">
			<div class="title">
				<h2>Conception des composants</h2>
			</div>
			<div class="content">
				<p>Par préférence et pour pouvoir facilement créer de nouveaux niveaux, j'ai développé le jeu en orienté objet. Une classe principale
					<code>Game</code>
					représente le jeu dans sa globalité. C'est elle qui en gère le fonctionnement et qui vient instancier les différents éléments. Une classe "secondaire",
					<code>Level</code>, est étendue par les différents niveaux du jeu. C'est elle qui à pour rôle de démarrer "l'event loop" : une fonction appelée à chaque "frame", qui démarre les différentes routines.</p>
			</div>
		</div>

		<div class="text-block">
			<div class="title">
				<h2>Création du joueur</h2>
			</div>
			<div class="content">
				<p>Le joueur est représenté par la classe
					<code>Player</code>. Elle ne comporte qu'un minimum de responsabilitées : afficher le joueur, et lui permettre de se déplacer. Elle stocke également toutes ces informations, telles que l'image à utiliser (qui est choisit par l'utilisateur au début du jeu), sa position etc...</p>
			</div>
		</div>

		<div class="text-block">
			<div class="title">
				<h2>Personnages</h2>
			</div>
			<div class="content">
				<p>Les personnages sont "le gros" du jeu : c'est en intéragissant avec eux que l'on peut alors lire leur biographie, et répondre à un quizz, ce qui permet, une fois tous les quizz validés, de terminer le jeu et d'obtenir le certificat de réussite.</p>
				<p>Ils sont représentés dans le code par la classe
					<code>Caracter</code>. C'est elle qui à la responsabilité de gérer les évènements en rapport avec le joueur, comme d'ouvrir le dialogue permettant de lire leur biographie et répondre a leur quizz, si le joueur appuie sur la touche "e"</p>
			</div>
		</div>

			<img src="{{ asset("build/images/projets/aventure-culture/paul_le_flem_invitation_steve_jobs.png") }}" alt="Invitation à répondre au quizz Steve Jobs">

		<div class="text-block">
			<div class="title noanim">
				<img src="{{ asset("build/images/projets/aventure-culture/paul_le_flem_level_instanciation.png") }}" alt="Instanciation d'un niveau">
			</div>
			<div class="content">
				<h2>Création d'un niveau</h2>
				<p>Souhaitant pouvoir faire évoluer le jeu, j'ai donc créé une classe
					<code>Level</code>, qui permet la création d'un niveau de manière simple, en l'étendant.</p>
				<p>Pour la création d'un niveau (image à gauche), il suffit de décrire les éléments qui le composent. Le jeu étant assez simple dans sa conception, seuls deux éléments sont à renseigner : les personnages présents sur le niveau, stockés dans le tableau
					<code>this.caracters</code>
					et les murs présents sur le niveau (seul un sol est présent).</p>
				<p>Une fois les personnages non-joueurs instanciés, il faut alors définir un "callback" : la fonction qui sera appelé lors de l'intéraction avec un personnage. Chaque personnage a son propre "callback", dans lequel on crée un objet correspondant aux informations de sa biographique, et aux questions de son quizz. Cet objet sera alors passé à une nouvelle instance de
					<code>CaracterQuizz</code>, qui à pour rôle d'afficher une page comportant toutes les informations renseignés dans l'objet qui lui est transmis.</p>
			</div>
		</div>
	</div>

{% endblock %}
